*{
  margin: = 0;
  padding: = 0;
}

body{
  text-align: justify;
  background-color: #ff9999;

}

.cabecalho{
  height: 60px;
  background-color: #F5FFFA;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  clear: both;
  padding-top: 20px;

}

.principal{
  font-family: 'Barlow Condensed', sans-serif;
  text-align: justify;
  background-color: #ffe6e6;
  padding: 5px 35px 35px 35px;
  font-size: 20px;
  font-weight: bolder;



}

.menu{
padding-top: 5px;
padding-bottom: 655px;
background-color: #ff5050;
float: left;

}

.menu a{
font-family: 'Roboto Condensed', sans-serif;
color:white;
display: table;
text-decoration: none;
font-size: 1.3em;
font-weight: 700;
padding:8px;
margin: 5px;
border: 8px;



}



.localizacao{
margin-top: 10px;
text-align: center;
clear: both;
}


.logo{
  font-family: 'Arial', sans-serif;
  color: #363636;
  font-weight: 800;
  font-size:15px;
  text-align: center;
  background-color: white;
  padding:7px;
  height:25px;
  clear: both;

}

.fotos{
  background-color: #ffe6e6;
  padding-left: 300px;
  padding-right:  300px;

}
